<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <linearGradient id="brandGrad" x1="0%" y1="0%" x2="100%" y2="100%">
      <stop offset="0%" stop-color="#7c3aed"/>
      <stop offset="100%" stop-color="#4c1d95"/>
    </linearGradient>
  </defs>
  <rect width="64" height="64" rx="16" fill="url(#brandGrad)"/>
  <g transform="translate(32 33) rotate(-45)" fill="#ffffff">
    <path d="M0 -16 C6 -10 8 -2 8 6 L-8 6 C-8 -2 -6 -10 0 -16 Z"/>
    <circle cx="0" cy="-4" r="2.6" fill="#4c1d95"/>
    <path d="M-8 6 L-13 12 L-8 11 Z"/>
    <path d="M8 6 L13 12 L8 11 Z"/>
    <path d="M-3 6 L0 15 L3 6 Z" fill="#14b8a6"/>
  </g>
</svg>
